@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dongle&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(photos/about_background.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.about-us{
    background-color: rgb(255, 255, 255, 0.2);
    font-family: 'Dongle', sans-serif;
    align-items: center;
    margin: 5rem 10rem;
    border-radius: 1.5rem;
}

.about-us h1{
    text-align: center;
    font-size: 8rem;
    color: #ffffff;
}

.about-us p{
    text-align: justify;
    font-size: 3rem;
    padding: 0rem 1.5rem .5rem 1.5rem;
}

.about-us a{
    text-decoration: none;
    font-size: 3rem;
    padding-left: 1.5rem;
    cursor: pointer;
}

.about-us a:hover{
    color: #ffffff;
}

.footer{
    background-color: #3a3d3a;
    color: #ffffff;
    height: 10vh;
}

.footer p{
    text-align: center;
    line-height: 10vh;
    font-size: 1.6rem;
}

.footer span{
    color: #000000;
}

@media(max-width: 998px){
    html {
        font-size: 55%
    }
}

@media(max-width: 768px){
    html {
        font-size: 45%
    }
}