@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dongle&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

.links{
    background-image: url(photos/request_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 92.3vh;
    padding: 2.5rem;
}

.links h1{
    color: #bb0a1e;
    font-family: 'Creepster', cursive;
    font-weight: 200;
    font-size: 2.5rem;
}

.navbar{
    display: flex;
    justify-content: right;
}

.navbar a{
    padding-left: 2.5rem;
    text-decoration: none;
    font-family: 'Dongle', sans-serif;
    font-size: 3rem;
    color: #ffffff;
}

.navbar a:hover{
    color: #bb0a1e;
}

.contact{
    width: 50rem;
    background-color: rgb(255, 255, 255, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: .5rem;
}

.contact h1{
    text-align: center;
    margin-bottom: -4rem;
    margin-top: .5rem;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    margin: 3.5rem;
}

.input{
    height: 5rem;
    width: 40rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

.input_text{
    width: 41rem;
    height: 20rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
}

.btn{
    background-color: #bb0a1e;
    font-size: 2rem;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: #ffffff;
}

.footer{
    background-color: #3a3d3a;
    color: #ffffff;
    height: 10vh;
}

.footer p{
    text-align: center;
    line-height: 10vh;
    font-size: 1.6rem;
}

.footer span{
    color: #000000;
}

@media(max-width: 998px){
    html {
        font-size: 55%
    }
}

@media(max-width: 768px){
    html {
        font-size: 45%
    }
}